In [2]:
import pandas as pd
import igraph

In [3]:
edges = pd.read_pickle("raiddata/edges.pickle")

In [4]:
edges

                    from                   to weight
535  4611686018468695677  4611686018484825875    151
471  4611686018468695677  4611686018483329418     82
84   4611686018468695677  4611686018467331495     60
619  4611686018468695677  4611686018487448761     42
118  4611686018468695677  4611686018467538785     35
..                   ...                  ...    ...
67   4611686018489416381  4611686018474363479      1
68   4611686018489416381  4611686018474925281      1
69   4611686018489416381  4611686018475123059      1
70   4611686018489416381  4611686018475212786      1
189  4611686018489416381  4611686018496005145      1

[69742 rows x 3 columns]

In [5]:
edges = edges[edges['from'].astype(str) > edges['to']]

In [6]:
edges

                    from                   to weight
84   4611686018468695677  4611686018467331495     60
118  4611686018468695677  4611686018467538785     35
119  4611686018468695677  4611686018467544385     30
146  4611686018468695677  4611686018467727325     30
35   4611686018468695677  4611686018451177627     27
..                   ...                  ...    ...
65   4611686018489416381  4611686018471940439      1
67   4611686018489416381  4611686018474363479      1
68   4611686018489416381  4611686018474925281      1
69   4611686018489416381  4611686018475123059      1
70   4611686018489416381  4611686018475212786      1

[35253 rows x 3 columns]

In [20]:
names = pd.DataFrame(edges['from'].append(edges['to'])).drop_duplicates()
names.columns = ['name']
names['label'] = ['hi']*len(names)

In [21]:
names

                    name label
84   4611686018468695677    hi
124  4611686018484825875    hi
94   4611686018483329418    hi
1    4611686018467331495    hi
84   4611686018468695677    hi
..                   ...   ...
62   4611686018471449529    hi
63   4611686018471846172    hi
64   4611686018471892369    hi
65   4611686018471940439    hi
70   4611686018475212786    hi

[23146 rows x 2 columns]

In [8]:
edges.to_csv('graph.csv')

In [29]:
names.groupby(names['name']).count().sort_values('label', ascending=False)

                     label
name
4611686018468695677      1
4611686018470860130      1
4611686018470859709      1
4611686018470859383      1
4611686018470859288      1
...                    ...
4611686018467400638      1
4611686018467400635      1
4611686018467400574      1
4611686018467400544      1
4611686018496588628      1

[23146 rows x 1 columns]

In [28]:
names.to_csv('vertices.csv')